@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ---------------------------------------------------General spacing/text */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-content {
    flex: 1 0 auto;
}

/* ---------------------------------Text */

.font-londrina-shadow {
    font-family: "Londrina Shadow", sans-serif;
}

.font-londrina-solid {
    font-family: "Londrina Solid", sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.0625rem;
}

/* ---------------------------------Headings */

.heading {
    color: #063367;
    font-size: 1.875rem;
}

/* ---------------------------------------------------Loader */

#container-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #fff;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------------------------------------------------Header */

/* ---------------------------------Logo */

.logo {
    background-color: #063367;
    height: 5rem;
    padding-top: 0.3125rem;
}

.logo-1 {
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
}

.logo-2 {
    color: #fff;
    letter-spacing: 1.25rem;
    padding-left: 1.375rem;
    margin-top: -0.4375rem;
    margin-bottom: 0;
}

.logo-link:hover {
    text-decoration: none;
}

/* ---------------------------------Navbar */

.navbar {
    background-color: #063367;
    height: 1.875rem;
}

.nav-link {
    padding: 0 0.5rem 0.5rem 0.5rem !important;
    letter-spacing: 0.125rem;
    font-weight: 100;
}

/* ---------------------------------------------------Footer */

#footer {
    flex-shrink: 0;
    background-color: #063367;
    /* height: 5rem; */
}

/* ---------------------------------Copyright */

#copyright {
    color: #fff;
    font-size: 0.625rem;
    line-height: 5rem;
}

#copyright p {
    margin: 0;
    
}

/* ---------------------------------Footer Socials */

/* Credit: code modified from https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div */
#footer-socials {
    text-align: right;
    font-size: 1.875rem;
    display: table;
    height: 5rem;
    overflow: hidden;
}

.footer-social-links {
    display: table-cell;
    vertical-align: middle;
}

.footer-social-links ul {
    margin: 0
}

#footer-socials a {
    color: #fff;
    padding: 0 1.25rem 0 1.25rem;
}

/* ---------------------------------------------------Map */

#map {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    border: solid 0.3125rem #063367;

}

.container-map {
    padding: 0.3125rem 0.938rem 0.3125rem 0.3125rem;
    height: calc(100vh - 11.875rem);
}

#pac-input {
    margin: 0.5rem;
    width: 50%;
    height: 1.5625rem;
    border-radius: 0.3125rem;
    border: solid 0.125rem #063367;
}

/* ---------------------------------------------------Legend */

#container-legend,
#container-info {
    padding: 0;
}

#legend {
    color: #063367;
    margin: 0.3125rem 0.3125rem 0.3125rem 0;
    padding-left: 0.3125rem;
    background-color: #fff;
    border: solid 0.3125rem #063367;
    border-radius: 0.625rem;
}

/* ---------------------------------------------------Venue information */

/* ---------------------------------Name */

#name {
    padding-left: 0.3125rem;
    font-size: 2.5rem;
    color: #063367;
}

/* ---------------------------------Address */

#address {
    color: #063367;
    font-weight: 100;
    padding-left: 0.3125rem;
}

/* ---------------------------------Description */

#description {
    color: #063367;
    padding-left: 0.3125rem;
}

/* ---------------------------------Social links */

#social-links {
    text-align: center;
}

#facebook a,
#twitter a,
#instagram a,
#tripadvisor a {
    color: #063367;
    font-size: 2.5rem;
    padding: 0 1.25rem 0 1.25rem;
}

/* ---------------------------------Website/Bookings */

#website a,
#booking a {
    color: #063367;
    font-size: 1.25rem;
    padding-left: 0.3125rem;
}

/* ---------------------------------Venue images */

#venue-images {
    text-align: center;
    padding: 0;
}

#hero-image {
    background-image: url("../images/hero/home_hero.jpg");
    height: 20rem;
    margin: 0 0.3125rem 0 0;
    border: 0.3125rem solid #063367;
    border-radius: 0.625rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#image1,
#image2,
#image3 {
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.625rem;
}

#image1 img,
#image2 img,
#image3 img {
    border-radius: 0.3125rem;
    height: 9.375rem;
    width: 9.375rem;
}

/* ---------------------------------------------------Contact Page */

/* ---------------------------------Contact text */

#contact-heading {
    padding: 1.25rem 0 0 0;
}

#contact-info-text {
    color: #063367;
    width: 66%;
    margin: 0 auto;
    padding: 1.25rem 0;
}

.btn-primary {
    background-color: #063367;
    color: #fff;
    border-color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn:focus {
    color: #063367;
    background-color: #fff;
    border-color: #063367;
    box-shadow: none;
}

/* ---------------------------------Contact form */

#contact-form {
    width: 66%;
    margin: 0 auto;
}

#contact-form form label {
    color: #063367;
}

.send-button {
    text-align: center;
}

.modal {
    color: #063367
}

.modal-title {
    font-size: 1.875rem;
}

/* ---------------------------------------------------Media queries */

@media screen and (max-width: 767px) {

    .container-map {
        padding: 0.3125rem;
    }

    #facebook a,
    #twitter a,
    #instagram a,
    #tripadvisor a {
        font-size: 1.875rem;
    }

    #legend {
        margin: 0.3125rem;
    }

    #copyright {
        font-size: 8px;
    }

    #footer-socials {
        font-size: 1.25rem;
    }

    #footer-socials a {
        padding: 0 0.625rem 0 0.625rem;
    }

    #venue-images {
        padding: 0;
    }

    #hero-image {
        margin: 0 0.3125rem 0 0.3125rem;
    }

    #image1 {
        margin: 0 0.3125rem;
    }

    #image1 img {
        width: 100%;
        height: 100%;
    }

    #image2,
    #image3 {
        display: none;
    }

    #contact-info-text {
        width: 90%;
    }

    #contact-form {
        width: 90%;
    }
}

/* Credit: code modified from https://stackoverflow.com/questions/25405105/break-a-table-row-into-multiple-line-responsive-layout */
@media screen and (max-width: 991px) {
    .legend-table tr {
        display: table;
        width: 100%;
    }

    .legend-table td {
        display: table-row;
    }

    #hero-image {
        margin: 0 0.3125rem 0 0.3125rem;
    }

    #name {
        padding-top: 0.625rem;
        line-height: 2.5rem;
        text-align: center;
    }

    #address {
        text-align: center;
        margin-top: 0;
    }

    #description {
        padding: 0.625rem;
        text-align: center;
    }

    #website,
    #booking {
        text-align: center;
    }
}
