@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&display=swap");

/* ---------------------------------------------------General spacing/text/borders */

/* ---------------------------------Text */

.font-londrina-shadow {
    font-family: "Londrina Shadow", sans-serif;
}

.font-londrina-solid {
    font-family: "Londrina Solid", sans-serif;
}

/* ---------------------------------Borders*/

/* REMOVE? */
#filter-box {
    background-color: #fff;
    border: solid 5px #063367;
    border-radius: 10px;
}

/* ---------------------------------------------------Header */

/* ---------------------------------Logo */

.logo {
    background-color: #063367;
    height: 5rem;
    padding-top: 0.3125rem;
}

.logo-1 {
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
}

.logo-2 {
    color: #fff;
    letter-spacing: 1.25rem;
    padding-left: 1.375rem;
    margin-top: -0.4375rem;
    margin-bottom: 0;
}

/* ---------------------------------Navbar */

.navbar {
    background-color: #063367;
    height: 1.875rem;
}

.nav-link {
    padding: 0 0.5rem 0.5rem 0.5rem !important;
    letter-spacing: 0.125rem;
    font-weight: 100;
}

/* ---------------------------------------------------Map */

#map {
    width: 100%;
    height: 85vh;
    border-radius: 10px;
}

.map-container {
    background-color: #063367;
    padding-top: 0.3125rem;
}

/* ---------------------------------------------------Legend */

#map-filters,
#info-container {
    padding: 0;
    background-color: #063367;
}

#legend {
    color:#fff;
}

#legend h2 {
    font-size: 40px;
}

/* ---------------------------------------------------Venue information */

/* ---------------------------------Name */

#name {
    padding-left: 5px;
    font-size: 40px;
    color: #fff;
}

/* ---------------------------------Address */

#address {
    color: #fff;
    font-weight: 100;
    padding-left: 5px;
    margin-top: -10px;
}

/* ---------------------------------Description */

#description {
    color: #fff;
    padding-left: 5px;
}

/* ---------------------------------Social links */

#social-links {
    text-align: center;
}

#facebook a,
#twitter a,
#instagram a,
#tripadvisor a {
    color:#fff;
    font-size: 40px;
    padding: 0 20px 0 20px;
}

/* ---------------------------------Website */

#website a {
    color:#fff;
    font-size: 24px;
    padding-left: 5px;
}


/* ---------------------------------------------------Media queries */



@media screen and (max-width: 576px) {
    #facebook a,
    #twitter a,
    #instagram a,
    #tripadvisor a {
        font-size: 30px;

    }
}

